body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f3f7fa;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  gap: 20px;
  flex-direction: row;
}
.content {
  flex: 1;
  border-radius: 16px 6px 6px 6px;
}
